*.rootmap
*_rdict.pcm

/.MaGeSVNInfo.hh
/GNUmakefile
/GNUmakefileGen
MGTools/decay0
analysis/*.dSYM
analysis/*.so
analysis/GNUmakefile
analysis/GNUmakefileGen
/autom4te.cache
/bin*
/.cproject
/.project
/.settings/*.settings.xml
/.settings/org.eclipse.*.prefs
buildTools/config.mk
buildTools/install.mk
buildTools/noinstall.mk
buildTools/mgbin.mk
buildTools/rootsomake.mk
/mage-config
/config.log
/config.status
database/GNUmakefile
database/GNUmakefileGen
doc/LaTeXDocuments/MaGe_paper/*.aux
doc/LaTeXDocuments/MaGe_paper/*.bbl
doc/LaTeXDocuments/MaGe_paper/*.blg
doc/LaTeXDocuments/MaGe_paper/*.dvi
doc/LaTeXDocuments/MaGe_paper/*.log
doc/LaTeXDocuments/MaGe_paper/*.out
doc/LaTeXDocuments/MaGe_paper/*.toc
doc/MaGeUsersGuide/usersguide.aux
doc/MaGeUsersGuide/usersguide.bbl
doc/MaGeUsersGuide/usersguide.blg
doc/MaGeUsersGuide/usersguide.dvi
doc/MaGeUsersGuide/usersguide.log
doc/MaGeUsersGuide/usersguide.out
doc/MaGeUsersGuide/usersguide.pdf
doc/MaGeUsersGuide/usersguide.ps
doc/MaGeUsersGuide/usersguide.toc
doc/doxygen/html
generators/GNUmakefile
generators/GNUmakefileGen
geometry/GNUmakefile
geometry/GNUmakefileGen
gerdageometry/GNUmakefile
gerdageometry/GNUmakefileGen
gerdaio/GNUmakefile
gerdaio/GNUmakefileGen
include/
io/DICT*.cc
io/DICT*.h
io/G__*LinkDef.h
io/GNUmakefile
io/GNUmakefileGen
io/io/DICT*.cc
io/io/DICT*.h
io/io/GNUmakefile
io/io/GNUmakefileGen
io/io/MaGeSVNInfo.hh
io/src/DICT*.cc
io/src/DICT*.h
io/src/GNUmakefile
io/src/GNUmakefileGen
/lib
legendgeometry/GNUmakefile
legendio/GNUmakefile
lngsgesetups/GNUmakefile
management/GNUmakefile
management/GNUmakefileGen
materials/GNUmakefile
materials/GNUmakefileGen
mjdemonstrator/GNUmakefile
mjgeometry/GNUmakefile
mjgeometry/GNUmakefileGen
mjio/GNUmakefile
mjio/GNUmakefileGen
mjio/mjio/DICT*.h
mjio/mjio/GNUmakefile
mjio/mjio/GNUmakefileGen
mjio/src/DICT*.cc
mjio/src/GNUmakefile
mjio/src/GNUmakefileGen
mjprocessors/DICT*.cc
mjprocessors/DICT*.h
mjprocessors/GNUmakefile
mjprocessors/GNUmakefileGen
mjprocessors/mjprocessors/DICT*.cc
mjprocessors/mjprocessors/DICT*.h
mjprocessors/mjprocessors/GNUmakefile
mjprocessors/mjprocessors/GNUmakefileGen
mjprocessors/src/DICT*.cc
mjprocessors/src/DICT*.h
mjprocessors/src/GNUmakefile
mjprocessors/src/GNUmakefileGen
munichteststand/GNUmakefile
munichteststand/GNUmakefileGen
processes/GNUmakefile
processes/GNUmakefileGen
sandbox/GNUmakefile
sandbox/GNUmakefileGen
/setup.csh
/setup.sh
/tmp*
tonscalegeometry/GNUmakefile
waveform/DICT*.cc
waveform/DICT*.h
waveform/GNUmakefile
waveform/GNUmakefileGen
waveform/src/DICT*.cc
waveform/src/DICT*.h
waveform/src/GNUmakefile
waveform/src/GNUmakefileGen
waveform/waveform/DICT*.cc
waveform/waveform/DICT*.h
waveform/waveform/GNUmakefile
waveform/waveform/GNUmakefileGen
MJD.JSON
MJD.json
install
