# Global Parameters
#RC_Version 4.9.3p1
#RC_Version 4.9.3.p1
#RC_newVersion x4.9.4p3
RC_Version 4.10.03
RC_newVersion x4.10.03

# Radioactive Decay Diagnostics
RD_NumberOfSimulatedDecays 1000000
RD_RunSimulation 1
RD_RelativeComparison 0

# Gamma Interaction Diagnostics
GI_NumberOfSimulatedInteractions 1000
GI_RunSimulation 1
GI_RelativeComparison 0

# Electron Interaction Diagnostics
EI_NumberOfSimulatedInteractions 1000
EI_RunSimulation 1
EI_RelativeComparison 0

# Alpha Interaction Diagnostics
AI_NumberOfSimulatedInteractions 1000
AI_RunSimulation 1
AI_RelativeComparison 0

# Neutron Interaction Diagnostics
NI_NumberOfSimulatedInteractions 1
NI_RunSimulation 1
NI_RelativeComparison 0
